.container-fluid {
  position: relative;
  display: grid;
  grid-template-rows: 60vh 40vh;

  // grid-template-columns: repeat(auto-fit, minmax(4rem,1fr));
  background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}

.items-info {
  box-shadow: 5px 10px #888888;
  -webkit-box-shadow: -9px 10px 5px -4px rgba(20, 12, 20, 0.59);
  -moz-box-shadow: -9px 10px 5px -4px rgba(20, 12, 20, 0.59);
  box-shadow: -9px 10px 5px -4px rgba(20, 12, 20, 0.59);

  height: min-content;
  position: absolute;
  top: -15px;
  background: url("https://images.unsplash.com/photo-1498962342534-ee08a0bb1d45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  justify-content: center;
}

.items-list {
  background: transparent !important;
  position: relative;
  top: -24px;
  max-width: 72vh;
  max-height: 70vh;
  display: grid;
  opacity: 1;
  padding: 0.5rem;
  grid-column: -1/3;
  grid-gap: 0.5rem;

  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  background-color: lightgrey;
  overflow: scroll;
}

.img-fluid {
  max-height: 8rem;
}

h1 {
  font-family: "Piedra";
  color: #fcc248;
}

.text {
  text-shadow: 1px 1px 1px lightgrey;
  font-family: "Piedra";
  font-weight: bold;
  color: #fcc248;
  position: relative;
  margin: -12px;
  text-align: center;
  z-index: 45;
  top: -16px;
  overflow: hidden;
}

.items-info:before {
  z-index: -1;
  content: "xjnjnjn";
  position: absolute;

  opacity: 0.6;
  width: 400px;
  height: 200px;
}

p {
  color: white;
  text-shadow: 2px 2px 2px grey;
  word-wrap: break-word;
}

h1 {
  text-shadow: 2px 2px 2px grey;
}

.image-div {
  max-height: 70%;
}
